<p>Sound Slap - Slap your ear drums with epicness.</p>
<p>A community driven sample sharing website.</p>
<br>
<p>This is my first Ruby on Rails application.</p>
<p>-Jules</p>
<p>Contact: juliantreweeke@gmail.com</p>
