<h1>User test</h1>

<p>List users</p>

<% @users.each do |user| %>
<p><%= link_to user.name, users_show_path(user) %></p>
<% end %>

<div class="sound"></div>


<!-- <audio id="<%= sound.title %>" controls> -->
