
<h3>List of sounds.</h3>

<% @sounds.each_with_index do |s, index| %>
<p><%= link_to s.title, sound_path(s) %></p>
<div class="<%= index %>"></div>

<button class="btn">
  Play
</button>



<script>







</script>




<% end %>
