
@import url('https://fonts.googleapis.com/css?family=Montserrat');


body {


    color: black;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    margin: 0px auto;

}



#main {
        min-height: 500px;
        margin: 0;
        padding: 0;
        display: flex;
        flex-flow: row;
    }

    #main > article {



        background: #D9D9D9;
        flex: 3 1 80%;
        order: 2;

    }

    #main > nav {



        background: #D9D9D9;
        flex: 1 6 10%;
        order: 1;
    }

    #main > aside {



        background: #D9D9D9;
        flex: 1 6 10%;
        order: 3;
    }

    header {
        max-height: 100px;
        display: block;
        height: 10%;
        background: white;
    }

    footer {

        display: block;

        min-height: 50px;

        background: white;
    }


.menu {
  position: absolute;
  left:80px;
  top:25px;
  font-weight: 400;

}

.login {
  font-size: 15px;
  position: relative;
  top:-60px;

}

.hand {
  width: 32px;
  height:32px;
  position: relative;
  top:-55px;
  left:120px;
  transform: rotate(40deg);
}

.mag {
  width: 32px;
  height:32px;
  position: absolute;
  right:-40px;
  top:3px;
}

.search_form {
  position: absolute;
  right:80px;
  top:50px;
}

.searchfield {

  width: 150px;
  height:30px;
  font-size: 16px;
  font-weight: 800px;
  border-radius: 10px;
}


.mag:hover, .hand:hover, .menu:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.logo {
  position: relative;


}


.dropbtn {
    background-color: white;
    color: Black;
    padding: 16px;
    font-size: 20px;
    border: none;
    cursor: pointer;
    position: absolute;
    left:80px;
    top:30px;
    font-weight: 400;
}

.dropdown-content {
    display: none;
    position: absolute;
    left:80px;
    top:70px;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;

}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: #4484CE;
}

.speaker {
  width: 25px;
  height: 25px;
  position: relative;
  top:6px;
  transition:  all 0.1s ease-in-out;
}

.speaker:hover {
  transform: scale(1.5);
  cursor: pointer;

}

.soundlist {
  /*text-align: left;*/
  position: inline-block;
  justify-content: center;
  left:450px;

}

.btn {
  background-color: #4484CE;
  color: white;
  transition: 0.5s all ease-in-out;
  padding: 10px 25px;
  font-size: 0.9em;
	text-align: center;
  border-radius: 6px;
  width:139px;

}

.btn:hover {
  background-color: #333;
	color: #4484CE;

}





.buttonDownload {
	display: inline-block;
	position: relative;
	padding: 10px 25px;

	background-color: #4484CE;
	color: white;
  border-radius: 6px;
	text-decoration: none;
	font-size: 0.9em;
	text-align: center;
	text-indent: 15px;
}

.buttonDownload:hover {
	background-color: #333;
	color: white;
}

.buttonDownload:before, .buttonDownload:after {
	content: ' ';
	display: block;
	position: absolute;
	left: 15px;
	top: 52%;
}

/* Download box shape  */
.buttonDownload:before {
	width: 10px;
	height: 2px;
	border-style: solid;
	border-width: 0 2px 2px;
}

/* Download arrow shape */
.buttonDownload:after {
	width: 0;
	height: 0;
	margin-left: 3px;
	margin-top: -7px;

	border-style: solid;
	border-width: 4px 4px 0 4px;
	border-color: transparent;
	border-top-color: inherit;

	animation: downloadArrow 2s linear infinite;
	animation-play-state: paused;
}

.buttonDownload:hover:before {
	border-color: #4484CE;
}

.buttonDownload:hover:after {
	border-top-color: #4484CE;
	animation-play-state: running;
}

/* keyframes for the download icon anim */
@keyframes downloadArrow {
	/* 0% and 0.001% keyframes used as a hackish way of having the button frozen on a nice looking frame by default */
	0% {
		margin-top: -7px;
		opacity: 1;
	}

	0.001% {
		margin-top: -15px;
		opacity: 0;
	}

	50% {
		opacity: 1;
	}

	100% {
		margin-top: 0;
		opacity: 0;
	}
}

a {
  text-decoration:none;
  color:black;
  transition: all 0.5s ease-in-out;
}

a:hover {
  color:#4484CE;
}


.sound {
  transform: scale(0.9);
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.sound:hover {
  transform: scale(1);
}


/*center the upload button form */
.uploadbutton  {
  position: relative;
  left:85px;

}

.submitbutton  {
  position: relative;
  left:5px;
}


.btn {
  background-color: #4484CE;
  color: white;
  transition: 0.5s all ease-in-out;
  padding: 10px 25px;
  font-size: 0.9em;
	text-align: center;
  border-radius: 6px;
  width:139px;

}

.btn:hover {
  background-color: #333;
	color: #4484CE;

}

.emaillogin {
  position: absolute;
  left:200px;

}

.passwordlogin {

}
